/* Default settings */
:root {
	--border-color: #e5e5e5;
	--edge-length: 100%;
	--edge-thikness: 5px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: monospace;
	background: #f6f6f6;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	max-height: 100vh;
	background-color: wheat;

}

a {
	color: #333;
}

.author {
	position: absolute;
	font-size: 1.2rem;
	bottom: 1%;
}

.board {
	background: #fcfcfc;
	display: grid;
	width: 60vh;
	max-height: 60vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Default box shadow */

}

@media screen and (max-width: 720px) {
	.board {
		width: 80vw;
	}
}

.box {
	position: relative;
	aspect-ratio: 1/1;
	transition: background 500ms;
}

.box.filled::after {
	position: absolute;
	z-index: 40;
	background: rgb(255, 255, 255);
	opacity: 0;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	animation: 800ms fillAnim 0s 1;
	background-blend-mode: soft-light;
}

@keyframes fillAnim {
	from {
		transform: scale(1);
		opacity: 0.3;
	}

	30% {
		transform: scale(0.5);
		opacity: 0.6;
	}

	to {
		transform: scale(1);
		opacity: 0.3;
	}
}

.edge {
	appearance: none;
	position: absolute;
	border: none;
	cursor: pointer;
	border-radius: 1rem;
	background: var(--border-color);
}

.edge:hover {
	background: rgb(189, 189, 189);
	z-index: 10;
}

.edge:active {
	background: rgb(170, 170, 170);
	z-index: 10;
}

.edge.left,
.edge.right {
	width: var(--edge-thikness);
	height: var(--edge-length);
}

.edge.top,
.edge.bottom {
	height: var(--edge-thikness);
	width: var(--edge-length);
}

.edge.top {
	transform: translateY(-50%);
	top: 0;
	left: 0;
}

.edge.right {
	transform: translateX(50%);
	top: 0;
	right: 0;
}

.edge.bottom {
	transform: translateY(50%);
	top: none;
	bottom: 0;
	left: 0;
}

.edge.left {
	transform: translateX(-50%);
	top: 0;
	left: 0;
}

.edge:before {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
}

.edge.left:before,
.edge.right:before {
	transform: scale(3, 0.7);
}

.edge.top:before,
.edge.bottom:before {
	transform: scale(0.7, 3);
}

.edge.filled {
	background: #111;
	pointer-events: none;
	z-index: 10;
}

.players {
	position: absolute;
	z-index: 10;
	font-size: 1rem;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.4rem;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
}

.player .filled-boxes {
	display: inline-block;
	text-align: center;
	width: 28px;
	margin-right: 4px;
	background-color: rgb(136, 136, 136);
	border: solid 3px #111;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.922);
}

@media screen and (max-width: 600px) {
	.player span {
		font-size: 0.8rem;
	}

	.players {
		gap: 0.5rem;
	}
}

.player-turn {
	font-size: 1rem;
	z-index: 10;
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	color: rgba(0, 0, 0, 0.864);
	padding-top: 10px;

}

.player-turn .bg {
	background: #999;
	padding: 0.5rem 1rem;
	width: 100%;
	min-width: 100px;
	max-width: 200px;
	text-align: center;
	border-radius: 1rem;
}

.player-turn .bg.win {
	animation: 1s pulseAnim 0s infinite;
	font-weight: bold;
}

.player-turn .name {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

@keyframes pulseAnim {
	from {
		transform: scale(1);
	}

	40% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

h1 {
	margin-top: -30px;
	text-align: center;
	margin: 0;
	color: #111;
	z-index: 100;
	padding-bottom: 10px;
	width: 100%;
}

.instructions {
	width: 100%;
	justify-content: center;
	max-height: 100%;
}

.settings {
	position: absolute;
	background: wheat;
	inset: 0;
	z-index: 20;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	align-items: space-between;
	margin-right: 10%;
	width: 100%;
	height: 100%;

	align-items: center;
	overflow: auto;

}

.settings .info {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	width: 100%;
	max-width: 550px;
	padding: 1rem;
	font-size: 20px;
	padding-left: 7%;
}

.settings .PlayerTextBox {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	width: 100%;
	max-width: 550px;
	padding: 1rem;
	font-size: 20px;
	padding-left: 7%;
}


.settings .form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	max-width: 550px;
	padding: 1rem;
	font-size: 20px;
	padding-left: 7%;
}

.settings .form-item {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.settings .form-item input {
	border-radius: 3px;
	padding: 0.4rem 0.2rem;
	font-weight: lighter;
	font-size: smaller;
	font-style: italic;
}

.settings .form-item .details {
	font-style: italic;
	color: #000;
	font-size: 15px;
}

.settings button {
	margin-top: 0.4rem;
	border-radius: 3px;
	padding: 0.8rem;
	font-weight: bold;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	letter-spacing: 4px;
}

.settings button:hover {
	background: rgb(75, 75, 75);
}

.settings button:active {
	background: rgb(70, 70, 70);
}

.back {

/* styles for dark mode toggle */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* styles for checkbox inside dark mode toggle */
.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

/* styles for label inside dark mode toggle */
.dark-mode-toggle label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

/* styles for pseudo-element before label inside dark mode toggle */
.dark-mode-toggle label:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    background-color: #f5f3f4;
    transition: transform 0.3s ease;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:before {
    transform: translateX(20px) translateY(-50%);
    background-color: #000;
}

/* styles for elements in dark mode settings */
body.dark-mode .settings {
    background-color: #252422;
    color: #f5f3f4;
}

/* styles for various elements in dark mode */
body.dark-mode .instructions,
body.dark-mode .form-item label,
body.dark-mode .form-item input {
    color: #f5f3f4;
}

/* styles for input in dark mode */
body.dark-mode .form-item input {
    background-color: #333;
    color: #f5f3f4;
}

/* styles for start button */
.start-btn {
    background: #333;
    color: #f5f3f4;
}

/* hover styles for start button */
.start-btn:hover {
    background: rgb(75, 75, 75);
}

/* active styles for start button */
.start-btn:active {
    background: rgb(70, 70, 70);
}

/* default styles for heading */
.heading {
    color: black;
}

/* styles for heading in dark mode */
body.dark-mode .heading {
    color: white;
}



/* dark mode for game after started */
body.dark-mode .board {
    background-color: #252422; 
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 

}

body.dark-mode {
    background-color: #252422;
	color: white;
}


body.dark-mode .edge:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

body.dark-mode .edge:active {
    background-color: rgba(255, 255, 255, 1); 
}
=======

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
.back{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
	.back {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.back {
		width: auto;
		height: 100%;
	}
}


.exit-btn {
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 10px 20px;
	background-color: #ff0000;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.exit-btn:hover {
	background-color: #cc0000;
}
.mute-btn {
	background-color: #333;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
}

.mute-btn i {
	color: #ffffff;
	font-size: 24px;
	transition: color 0.3s ease;
}

.mute-btn:hover i {
	color: #fff;
}

/* The message box is shown when the user clicks on the input field */
.warning {
	display: none;
	font-size: 18px;
	color: red;
	position: relative;
	padding: 5px;

}