/* Default settings */
:root {
	--border-color: #e5e5e5;
	--edge-length: 100%;
	--edge-thikness: 5px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: monospace;
	background: #f6f6f6;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	max-height: 100vh;
}

a {
	color: #333;
}

.author {
	position: absolute;
	font-size: 1.2rem;
	bottom: 1%;
}

.board {
	background: #fcfcfc;
	display: grid;
	width: 60vh;
	max-height: 60vh;
}

@media screen and (max-width: 720px) {
	.board {
		width: 80vw;
	}
}

.box {
	position: relative;
	aspect-ratio: 1/1;
	transition: background 500ms;
}

.box.filled::after {
	position: absolute;
	z-index: 40;
	background: rgb(255, 255, 255);
	opacity: 0;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	animation: 800ms fillAnim 0s 1;
	background-blend-mode: soft-light;
}

@keyframes fillAnim {
	from {
		transform: scale(1);
		opacity: 0.3;
	}

	30% {
		transform: scale(0.5);
		opacity: 0.6;
	}

	to {
		transform: scale(1);
		opacity: 0.3;
	}
}

.edge {
	appearance: none;
	position: absolute;
	border: none;
	cursor: pointer;
	border-radius: 1rem;
	background: var(--border-color);
}

.edge:hover {
	background: rgb(189, 189, 189);
	z-index: 10;
}

.edge:active {
	background: rgb(170, 170, 170);
	z-index: 10;
}

.edge.left,
.edge.right {
	width: var(--edge-thikness);
	height: var(--edge-length);
}

.edge.top,
.edge.bottom {
	height: var(--edge-thikness);
	width: var(--edge-length);
}

.edge.top {
	transform: translateY(-50%);
	top: 0;
	left: 0;
}

.edge.right {
	transform: translateX(50%);
	top: 0;
	right: 0;
}

.edge.bottom {
	transform: translateY(50%);
	top: none;
	bottom: 0;
	left: 0;
}

.edge.left {
	transform: translateX(-50%);
	top: 0;
	left: 0;
}

.edge:before {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
}

.edge.left:before,
.edge.right:before {
	transform: scale(3, 0.7);
}

.edge.top:before,
.edge.bottom:before {
	transform: scale(0.7, 3);
}

.edge.filled {
	background: #111;
	pointer-events: none;
	z-index: 10;
}

.players {
	position: absolute;
	z-index: 10;
	font-size: 1rem;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.4rem;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
}

.player .filled-boxes {
	display: inline-block;
	text-align: center;
	width: 28px;
	margin-right: 4px;
	background-color: rgb(136, 136, 136);
	border: solid 3px #111;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.922);
}

@media screen and (max-width: 600px) {
	.player span {
		font-size: 0.8rem;
	}

	.players {
		gap: 0.5rem;
	}
}

.player-turn {
	font-size: 1rem;
	z-index: 10;
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	color: rgba(0, 0, 0, 0.864);
	padding-top: 10px;

}

.player-turn .bg {
	background: #999;
	padding: 0.5rem 1rem;
	width: 100%;
	min-width: 100px;
	max-width: 200px;
	text-align: center;
	border-radius: 1rem;
}

.player-turn .bg.win {
	animation: 1s pulseAnim 0s infinite;
	font-weight: bold;
}

.player-turn .name {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

@keyframes pulseAnim {
	from {
		transform: scale(1);
	}

	40% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

h1 {
	margin-top: -30px;
	text-align: center;
	margin: 0;
	color: #111;
	z-index: 100;
	padding-bottom: 10px;
	width: 100%;
}

.instructions {
	width: 100%;
	justify-content: center;
	max-height: 100%;
}

.settings {
	position: absolute;
	background: #fdfdfd;
	inset: 0;
	z-index: 20;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}


/* Game Start Form styling by harshcodesit */

.text:hover{
	background: #D1D7FF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loop{
	background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 28.5em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}
a{
    text-decoration: none;
}
/* .animate{
   width: 80%;
} */

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

/* ################## */




.settings .form {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	max-width: 550px;
	padding: 1rem;
	font-size: 20px;
	padding-left: 7%;
	border-radius: 28px;
	border-radius: 20px;

	/* glass morphism effect by harshcodeit */
	background: rgba( 255, 255, 255, 0.2 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 1.5px );
	-webkit-backdrop-filter: blur( 1.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	/* ############# */
}

.settings .form-item {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.settings .form-item input {
	border-radius: 3px;
	padding: 0.4rem 0.2rem;
	font-weight: lighter;
	font-size: smaller;
	font-style: italic;
}

.settings .form-item .details {
	font-style: italic;
	color: #999;
	font-size: 15px;
}

.settings button {
	margin-top: 0.4rem;
	border-radius: 3px;
	padding: 0.8rem;
	font-weight: bold;
	border: none;
	background: #333;
	color: #fff;
	cursor: pointer;
	letter-spacing: 4px;
}

.settings button:hover {
	background: rgb(75, 75, 75);
}

.settings button:active {
	background: rgb(70, 70, 70);
}
.back{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
@media(min-aspect-ratio:16/9){
	.back{
		width: 100%;
		height: auto;
	}
}
@media(max-aspect-ratio:16/9){
	.back{
		width: auto;
		height: 100%;
	}
}

.mute-btn {
	background-color: #333;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
}

.mute-btn i {
	color: #ffffff;
	font-size: 24px;
	transition: color 0.3s ease;
}

.mute-btn:hover i {
	color: #fff;
}

/* The message box is shown when the user clicks on the input field */
.warning {
	display: none;
	font-size: 18px;
	color: red;
	position: relative;
	padding: 5px;
}
