.theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #619b8a;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1000;
    margin-right: 20px;
}


#theme-options {
    position: fixed;
    top: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    visibility: hidden;
}

.theme-option {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

.hidden {
    display: none;
}


.overlay-container {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.theme-option.selected {
    border: 2px solid #00f;
    background-color: rgba(0, 0, 255, 0.1);
}
