body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.pic {
    width: 700px;
    height: 700px;
    animation: updown 2s ease-in-out infinite alternate;
}
@keyframes updown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}
a {
    text-decoration: none;
    color: #353535;
}
.btn {
    position: absolute;
    padding: 10px 20px;
    background-color: #32ddaac9;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    top: 600px;
}
@media screen and (max-width: 600px) {
    .pic {
        width: 300px;
        height: 300px;
    }
    .btn {
        top: 400px;
    }
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, #ff6600, #ffb584a5);
    transition: transform 0.1s, left 0.1s, top 0.1s;
}

.circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

@media (max-width: 768px) {
    .circle-container {
        display: none;
    }
}