/* General Body Styles */
body {
    background-color: #e7b537; /* New background color */
    margin: 0;
    padding: 0;
    font-family: 'WorkSans-Regular', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    overflow: auto !important;
}

.faqcontainer {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    box-shadow: 10px 10px 15px rgba(101, 99, 99, 0.5);
    margin: 100px auto 20px; /* Increased margin-top to avoid content being hidden under navbar */
    flex: 1;
    z-index: 0; /* Ensure it's below the fixed elements */
}

/* Heading Styles */
h1 {
    font-family: 'WorkSans-Bold', Arial, sans-serif;
    display: flex;
    align-items: center;
}

/* FAQ Image Styles */
.faqcontainer img {
    margin-right: 20px;
}

/* Question Styles */
.question {
    font-family: 'WorkSans-SemiBold', Arial, sans-serif;
    padding: 20px;
    font-size: 1.25rem; /* 20px */
    border-bottom: 0.5px solid rgb(243, 218, 171);
    transition: background-color 0.3s, transform 0.3s;
}

/* Hover Effect */
.question:hover {
    background-color: #f0f0f0;
    transform: scale(1.06);
}

/* Summary Styles */
.question summary {
    cursor: pointer;
    padding: 7px;
    transition: color 0.3s;
}

.question summary:hover {
    color: #555353;
}

.question summary img {
    float: right;
    transition: transform 0.3s;
}

.question summary:hover img {
    transform: rotate(90deg);
}

.question p {
    font-family: 'WorkSans-Regular', Arial, sans-serif;
    font-size: 1.0625rem; /* 17px */
    color: #767676;
}

/* Remove bottom-background video styles */
.bottom-background {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .faqcontainer {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem; /* Responsive font size */
    }

    .question {
        font-size: 1.125rem; /* 18px */
    }

    .question p {
        font-size: 1rem; /* 16px */
    }

    .back-to-home {
        font-size: 14px;
        padding: 8px 16px;
        bottom: 10px;
        right: 10px;
    }

    .back-to-home img {
        width: 18px;
    }
}

@media (max-width: 480px) {
    .faqcontainer {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 1.25rem; /* Responsive font size */
    }

    .question {
        font-size: 1rem; /* 16px */
    }

    .question p {
        font-size: 0.875rem; /* 14px */
    }

    .back-to-home {
        font-size: 12px;
        padding: 6px 12px;
        bottom: 5px;
        right: 5px;
    }

    .back-to-home img {
        width: 16px;
    }
}

