/* General Body Styles */
body {
	background: transparent;
	margin: 0;
	padding: 0;
	font-family: "WorkSans-Regular", Arial, sans-serif;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

/* FAQ Container Styles */
.faqcontainer {
	background-color: rgb(11, 19, 48);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 15px 15px 20px rgb(0, 0, 0, 0.5);
	width: 60%;
	margin: 6rem auto;
}

/* Heading Styles */
#faq-head {
	font-family: "WorkSans-Bold", Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-bottom: 1rem;
	text-shadow: #3e196e 2px 2px 5px;
}

/* FAQ Image Styles */
.faqcontainer img {
	margin-right: 20px;
}

/* Question Styles */
.question {
	font-family: "WorkSans-SemiBold", Arial, sans-serif;
	padding: 20px;
	font-size: 1.25rem; /* 20px */
	border-bottom: 0.5px solid rgba(243, 218, 171, 0.5);
	background: linear-gradient(
		135deg,
		#f7f7f7,
		#bababa
	); /* Subtle gradient for questions */
	transition: background-color 0.3s, transform 0.3s, text-shadow 0.3s; /* Added text-shadow transition */
	border-radius: 8px;
}

/* Hover Effect */
.question:hover {
	background: linear-gradient(
		15deg,
		#cc3f47,
		#de6f3d,
		#f09f33,
		#de6f3d,
		#cc3f47
	); /* Bright gradient on hover */
	transform: scale(1.05); /* Slight zoom effect */
	border-radius: 12px; /* Slight rounding for emphasis */
	text-shadow: #fff 3px 3px 5px; /* Text shadow effect on hover */
}

/* Summary Styles */
.drop {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	transition: color 0.3s;
	outline: none; /* Remove default focus outline */
}

.drop:hover {
	color: #333; /* Darker text on hover */
}

.drop img {
	transition: transform 0.3s;
}

.drop:hover img {
	transform: rotate(90deg); /* Rotate icon on hover */
}

/* Answer Styles */
.question p {
	font-family: "WorkSans-Regular", Arial, sans-serif;
	font-size: 1.25rem;
	line-height: 1.2;
	color: #555;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 5px;
	transition: all 2s ease-in;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Light shadow for depth */
}

.question:hover p {
	background: #ffdfdf;
	text-shadow: #0000003e 0px 3px 3px;
}

.author {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: #fff;
	padding: 15px;
	position: fixed;
	bottom: 0;
	z-index: 100;
}

.fotbar {
	display: flex;
	gap: -22px;
}

.fotbar a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	background-color: transparent;
}

.author p {
	color: white;
	padding: 10px;
	margin-right: 10px;
	font-size: 20px;
	font-weight: 600;
}

.social-icons {
	display: flex;
	gap: 10px;
	margin-right: 20px;
}

.author a {
	color: white !important;
}

.social-icons a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
	.faqcontainer {
		width: 80%;
		padding: 1rem;
	}

	h1 {
		font-size: 1.5rem; /* Responsive font size */
	}

	.question {
		font-size: 1.125rem; /* 18px */
	}

	.question p {
		font-size: 1rem; /* 16px */
	}

	.back-to-home {
		font-size: 14px;
		padding: 8px 16px;
		bottom: 10px;
		right: 10px;
	}

	.back-to-home img {
		width: 18px;
	}

	.author {
		position: relative !important;
	}
}

@media (max-width: 480px) {
	.faqcontainer {
		width: 100%;
		padding: 10px;
	}

	h1 {
		font-size: 1.25rem; /* Responsive font size */
	}

	.question {
		font-size: 1rem; /* 16px */
	}

	.question p {
		font-size: 0.875rem; /* 14px */
	}

	.back-to-home {
		font-size: 12px;
		padding: 6px 12px;
		bottom: 5px;
		right: 5px;
	}

	.back-to-home img {
		width: 16px;
	}
}

@media screen and (max-width: 1190px) {
	.author a {
		font-size: small;
		color: white;
	}
}

@media screen and (max-width: 1065px) {
	.author .fotbar {
		display: grid;
	}

	.author .fotbar a {
		font-size: 14px;
	}
}

@media screen and (max-width: 550px) {
	.author {
		padding: 10px;
	}

	.author p {
		font-size: 16px;
		padding: 0;
	}

	.author .fotbar a {
		font-size: 12px;
		color: white;
	}

	.author .social-icons a {
		font-size: 15px;
	}
}
