body {
	font-family: monospace;
	background: #f6f6f6;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	max-height: 100vh;
}

.board {
	background: #fcfcfc;
	display: grid;
	width: 60vh;
	max-height: 60vh;
	margin-top: 154px;
}

@media screen and (max-width: 720px) {
	.board {
		width: 80vw;
	}
}

.box {
	position: relative;
	aspect-ratio: 1/1;
	transition: background 500ms;
}

.box.filled::after {
	position: absolute;
	z-index: 40;
	background: rgb(255, 255, 255);
	opacity: 0;
	content: "";
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	animation: 800ms fillAnim 0s 1;
	background-blend-mode: soft-light;
}

@keyframes fillAnim {
	from {
		transform: scale(1);
		opacity: 0.3;
	}

	30% {
		transform: scale(0.5);
		opacity: 0.6;
	}

	to {
		transform: scale(1);
		opacity: 0.3;
	}
}

.edge {
	appearance: none;
	position: absolute;
	border: none;
	cursor: pointer;
	border-radius: 1rem;
	background: var(--border-color);
}

.edge:hover {
	background: rgb(189, 189, 189);
	z-index: 10;
}

.edge:active {
	background: rgb(170, 170, 170);
	z-index: 10;
}

.edge.left,
.edge.right {
	width: var(--edge-thikness);
	height: var(--edge-length);
}

.edge.top,
.edge.bottom {
	height: var(--edge-thikness);
	width: var(--edge-length);
}

.edge.top {
	transform: translateY(-50%);
	top: 0;
	left: 0;
}

.edge.right {
	transform: translateX(50%);
	top: 0;
	right: 0;
}

.edge.bottom {
	transform: translateY(50%);
	top: none;
	bottom: 0;
	left: 0;
}

.edge.left {
	transform: translateX(-50%);
	top: 0;
	left: 0;
}

.edge:before {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
}

.edge.left:before,
.edge.right:before {
	transform: scale(3, 0.7);
}

.edge.top:before,
.edge.bottom:before {
	transform: scale(0.7, 3);
}

.edge.filled {
	background: #111;
	pointer-events: none;
	z-index: 10;
}

.players {
	position: absolute;
	z-index: 10;
	font-size: 1rem;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.4rem;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
	margin-top: 50px;
}

.player .filled-boxes {
	display: inline-block;
	text-align: center;
	width: 28px;
	margin-right: 4px;
	background-color: rgb(136, 136, 136);
	border: solid 3px #111;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.922);
}

@media screen and (max-width: 600px) {
	.player span {
		font-size: 0.8rem;
	}

	.players {
		gap: 0.5rem;
	}
}

.player-turn {
	font-size: 1rem;
	position: absolute;
	top: 52px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	color: rgba(0, 0, 0, 0.864);
	padding-top: 10px;
}

.player-turn .bg {
	background: #999;
	padding: 0.5rem 1rem;
	width: 100%;
	min-width: 100px;
	max-width: 200px;
	text-align: center;
	border-radius: 1rem;
}

.player-turn .bg.win {
	animation: 1s pulseAnim 0s infinite;
	font-weight: bold;
	z-index: 25;
}

.player-turn .name {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

@keyframes pulseAnim {
	from {
		transform: scale(1);
	}

	40% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

/* The Overlay (background) */
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: 90%;
	overflow-y: hidden;
	transition: 0.6s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: whitesmoke;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: gold;
}

@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
	}
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

#playerSetup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background: rgba(231, 181, 55, 0.979);
	border-radius: 10px;
	z-index: 999;
	box-shadow: 0px 5px 15px rgba(6, 6, 6, 0.829);
}

#playerForm {
	height: 85%;
	width: 90%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	background: #2b5caa;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

	transition: background-color 0.5s ease;
}

#playerInputs {
	width: 100%;
	height: 80%;
	padding: 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.player-input {
	width: 30%;
	margin-bottom: 1rem;
}

.player-label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.playerNames {
	font-size: 0.875rem;
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid #d1d5db;
	border-radius: 12px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
	background-color: #f3f4f6;
}

.playerNames:focus {
	transform: translateY(-1px);
	outline: 2px solid #60a5fa;
}

.playerNames:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-color: #60a5fa;
}

/* Play Button  */
#play-btn {
	cursor: pointer;
	padding: 15px 40px 15px 40px;
	border-radius: 10px;
	border-style: double;
	font-weight: 600;
	background-image: linear-gradient(
		rgb(54, 53, 53),
		rgb(0, 0, 0),
		rgb(54, 54, 54)
	);
	color: rgb(164, 164, 162);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-color: rgb(0, 0, 0);
	transition: 400ms;
	margin: 0 5px;
}

#play-btn:hover {
	transition: 400ms;
	border-style: double;
	border-color: rgb(208, 207, 207);
	color: rgb(219, 216, 216);
	font-size: 16px;
	text-shadow: 1px 10px 5px rgb(61, 61, 61);
	margin: 0;
}

/* Back Button */
#back-btn {
	display: flex;
	height: 3em;
	width: 100px;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	letter-spacing: 1px;
	transition: all 0.2s linear;
	cursor: pointer;
	border: none;
	color: #000;
	background: #fff;
}

#back-btn > svg {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 20px;
	transition: all 0.4s ease-in;
}

#back-btn:hover > svg {
	font-size: 1.2em;
	transform: translateX(-5px);
}

#back-btn:hover {
	box-shadow: 9px 9px 22px #555, -9px -9px 22px #555;
	transform: translateY(-2px);
}

#btn-contain {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	gap: 3rem;
}

/* Color radio buttons */

.rad-label {
	display: inline-block;
	border-radius: 100px;
	padding: 5px 8px;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
	background: hsla(0, 0%, 80%, 0.14);
}

.playerColor {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: -1;
}

.rad-design {
	width: 22px;
	height: 22px;
	border-radius: 100px;
	position: relative;
}

.rad-design::before {
	content: "";
	display: inline-block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: hsl(0, 0%, 90%);
	transform: scale(1.1);
	transition: 0.3s;
}

.playerColor:checked + .rad-design::before {
	transform: scale(0);
}

.pink {
	background: linear-gradient(
		to right bottom,
		hsl(0, 97%, 62%),
		hsl(297, 97%, 62%)
	);
}

.skyblue {
	background: linear-gradient(
		to right bottom,
		hsl(223, 100%, 88%),
		hsl(189, 100%, 75%)
	);
}

.yellow {
	background: linear-gradient(
		to right bottom,
		hsl(38, 100%, 50%),
		hsl(47, 97%, 62%)
	);
}

.lightgreen {
	background: linear-gradient(
		to right bottom,
		hsl(136, 97%, 62%),
		hsl(88, 97%, 62%)
	);
}

.magenta {
	background: linear-gradient(
		to right bottom,
		hsl(286, 97%, 62%),
		hsl(252, 97%, 62%)
	);
}

.orange {
	background: linear-gradient(
		to right bottom,
		hsl(21, 100%, 50%),
		hsl(20, 100%, 50%)
	);
}
