.circle {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	pointer-events: none;
	background: radial-gradient(circle, #ff6600, #ffb584a5);
	transition: transform 0.1s, left 0.1s, top 0.1s;
}

.circle-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(231, 181, 55, 0.979);
	border-radius: 15px;
}

@media (max-width: 768px) {
	.circle-container {
		display: none;
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 30px;
	left: 30px;
	width: 50px;
	height: 50px;
	background: radial-gradient(circle, #ff7920, #dd5900);
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	z-index: 1000;
	transition: transform 0.3s ease, background-color 0.3s ease, bottom 0.3s ease;
}

.scroll-to-top:hover {
	background-color: #dd5900;
	transform: scale(1.1);
	bottom: 35px;
}

.scroll-to-top svg {
	vertical-align: middle;
	fill: white;
	transition: transform 0.3s ease;
	margin-bottom: 10px;
}

.scroll-to-top:hover svg {
	transform: translateY(-5px);
}

.back-button {
	display: inline-block;
	padding: 6px 16px;
	background-color: rgb(255, 120, 30);
	color: white;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
	background-color: rgb(236, 94, 0);
	transform: scale(1.1);
}

/* Loader */
#loader {
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	--size: 50px;
	--first-block-clr: #005bba;
	--second-block-clr: #fed500;
	--clr: #111;
	width: 100px;
	height: 100px;
	position: relative;
}

.spinner::after,
.spinner::before {
	box-sizing: border-box;
	position: absolute;
	content: "";
	width: var(--size);
	height: var(--size);
	top: 50%;
	animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
	left: 50%;
	background: var(--first-block-clr);
}

.spinner::after {
	background: var(--second-block-clr);
	top: calc(50% - var(--size));
	left: calc(50% - var(--size));
	animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
	0%,
	100% {
		transform: none;
	}

	25% {
		transform: translateX(100%);
	}

	50% {
		transform: translateX(100%) translateY(100%);
	}

	75% {
		transform: translateY(100%);
	}
}

@keyframes up {
	0%,
	100% {
		transform: none;
	}

	25% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX(-100%) translateY(-100%);
	}

	75% {
		transform: translateY(-100%);
	}
}
