body {
    font-family: 'Press Start 2P', cursive;
    background-color: #ffe285;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, #ff6600, #ffb584a5);
    transition: transform 0.1s, left 0.1s, top 0.1s;
}

.circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(231, 181, 55, 0.979);
    border-radius: 15px;
}

@media (max-width: 768px) {
    .circle-container {
        display: none;
    }
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #ff7920, #dd5900);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease,
        bottom 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #dd5900;
    transform: scale(1.1);
    bottom: 35px;
}
.scroll-to-top svg {
    vertical-align: middle;
    fill: white;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.scroll-to-top:hover svg {
    transform: translateY(-5px);
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to top, rgba(254, 187, 17, 0.78), rgb(247, 242, 101));
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(6, 6, 6, 0.829);
    text-align: left;
    line-height: 1.6;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.instructions-container h1 {
    margin-bottom: 20px;
    color: #25254a;
    font-size: 30px;
}

.instructions-container p,
.instructions-container li {
    font-size: 17px;
    margin-bottom: 15px;
    list-style-type: none;
}

.instructions-container ol {
    padding-left: 10px;

}

.instructions-container strong{
    color: #25254a;
    font-size: 22px;
    text-decoration: underline;
}

.instructions-container ol strong {
    font-weight: 800;
}

.heading2{
    font-size: 29px;
    text-align: center;
}

.gameplay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    padding: 8px;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
}

.gameplay-item {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    transition: transform 0.2s;
}

.gameplay-item:hover {
    transform: scale(1.05);
}

.gameplay-icon {
    font-size: 30px;
    margin-right: 15px;
}

.gameplay-text {
    margin: 0;
    font-size: 15px;
    flex: 1;
}

@media (max-width: 767px) {
    
    .instructions-container{
        max-width: 65%;
    }
    .gameplay-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .gameplay-icon {
        margin-bottom: 10px;
    }
}

@media (max-width: 640px) {

    .instructions-container{
        max-width: 65%;
    }
    .gameplay-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .gameplay-icon {
        margin-bottom: 10px;
    }
}


.home{
    font-family: 'Press Start 2P',cursive;
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
    padding: 12px 5px;
    background: #ff6933;
    color: #fff;
    margin: 0 25%;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.home:hover{
    background-color: #d23d07;
}

.home span{
    font-size: 28px;
}

@media (max-width: 767px) {
    .instructions-container {
        max-width: 90%;
        padding: 15px 25px;
        line-height: 1.5;
    }
}

.tutorial-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 10px;
}

.tutorial-video video {
    width: 70%;
    border-radius: 10px;
}

.nav-links {
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    padding: 0;
    color: white;
    font-family: inherit;
}

.nav-links li a,
.logo a {
    color: white;
}

button a {
    background-color: transparent;
}

.start {
    padding: 10px 5px;
    border-radius: 5px;
}