body {
	font-family: "Comic Sans MS", "Chalkboard SE", "Arial", sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
      background: linear-gradient(180deg, #d5d5ff, #9d9dff); /* Background color */
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #8000ff, #ffcc00, #0066ff); 
      border-radius: 10px;
      border: 1px solid #ccccf7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }

  ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(180deg, #7e14e9, #f8d420, #3388ff); 
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); 
  }

  ::-webkit-scrollbar-thumb:active {
      background: linear-gradient(180deg, #6600cc, #ffbb00, #0044cc); /* Darker gradient on active */
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Intense glow effect */
  }
  


.navbar-toggler {
	background-color: transparent;
	border: none;
}

.navbar-toggler .toggler-icon {
	width: 30px;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: 5px 0;
	position: relative;
	transition: all 0.3s ease-out;
}

.instructions-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 900px;
	margin: 2rem auto;
	margin-top: 6rem;
	padding: 2rem;
	background-color: rgb(66, 61, 142);
	border-radius: 20px;
	box-shadow: 5px 5px 30px #000;
	text-align: left;
	line-height: 1.6;
}

.instructions-container h1 {
	margin-bottom: 2rem;
	color: #f1c40f;
	font-size: 3rem;
	text-shadow: 3px 3px 0 #e74c3c;
}

.instructions-container p,
.instructions-container li {
	font-size: 1.1rem;
	margin-bottom: 1rem;
	list-style-type: none;
	color: #fff;
}

.instructions-container ol {
	padding-left: 1.5rem;
}

.instructions-container strong {
	color: #f39c12;
	font-size: 1.3rem;
	text-decoration: underline;
}

.instructions-container ol strong {
	font-weight: 800;
}

.heading2 {
	font-size: 2rem;
	text-align: center;
	color: #f1c40f;
}

.gameplay-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 15px;
	background: rgba(231, 76, 60, 0.7);
	color: #fff;
}

.gameplay-item {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.2);
	padding: 1rem;
	border-radius: 10px;
	width: 100%;
	max-width: 800px;
	transition: transform 0.2s;
	border: 1px solid #ff6933;
}

.gameplay-item:hover {
	transform: scale(1.05);
}

.gameplay-icon {
	font-size: 2rem;
	margin-right: 1rem;
}

.gameplay-text {
	margin: 0;
	font-size: 1rem;
	flex: 1;
}

@media (max-width: 768px) {
	.instructions-container {
		margin: 1rem;
		padding: 1rem;
	}

	.gameplay-item {
		flex-direction: column;
		align-items: flex-start;
	}

	.gameplay-icon {
		margin-bottom: 0.5rem;
	}
}

.nav-links {
	letter-spacing: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 100%;
	padding: 0;
	color: #fff;
	font-family: inherit;
}

.nav-links li a,
.logo a {
	color: #fff;
	text-decoration: none;
}

button a {
	background-color: transparent;
}

.start {
	padding: 10px 5px;
	border-radius: 5px;
	background-color: #f1c40f;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.tutorial-video {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: -1px 5px 15px rgb(0, 13, 255);
	background: #33333300;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
	margin: 20px 0;
}

.tutorial-video video {
	width: 100%;
	max-width: 800px;
	border-radius: 15px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.tut-head {
	color: #ffffff;
	margin-bottom: 15px;
	text-shadow: 1px 1px 2px rgb(255, 217, 0), 0 0 1em blue, 0 0 0.2em blue;
	text-align: center;
}

.video-caption {
	margin-top: 10px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 2px rgb(208, 178, 11), 0 0 1em rgb(238, 255, 0),
		0 0 0.2em rgb(255, 204, 0);
}
