body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 55%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to top, rgba(255, 184, 4, 0.78), white);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(6, 6, 6, 0.829);
    text-align: left;
    line-height: 1.8;
    padding-bottom: 50px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #25254a;
    font-size: 36px;
}

.main-content {
    text-align: left;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    color: #25254a;
    font-size: 24px;
    margin-bottom: 10px;
}

.section-content,
.list-item {
    margin-bottom: 15px;
}

.section-list {
    padding-left: 20px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.back-btn {
    margin-top: 30px;
    padding: 10px 21px;
    background: rgb(37, 37, 74);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    margin-left: 320px;
}

.back-btn:hover {
    background: #1a1a2f;
}

@media (max-width: 767px) {
    .container {
        max-width: 90%;
        padding: 15px 20px;
        line-height: 1.5;
    }

    .back-btn {
        margin-left: 61px;
        padding: 10px 27px;
        width: 100%;
    }
}
