body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

.navbarr {
  display: flex;
  align-items: center;
  background-color: #222;
}


.navbarr .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.navbarr .nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.nav-links li {
  margin: 0 0px; /* Reduced spacing between nav items */
}

.nav-links li a {
  padding: 2px 2px; /* Reduced padding inside each link */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links li a i {
  margin-right: 3px;
   /* Reduced spacing between icons and text */
}

.navbarr .hamburger {
  display: none;
  cursor: pointer;
}

.sticky-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbarr .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 50px; /* Adjusted to reduce top space */
    right: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbarr .nav-links li {
    text-align: center;
    padding: 8px 0; /* Reduced padding in mobile view */
    width: 100%;
  }

  .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
  }

  .navbarr .hamburger {
    display: block;
  }

  .navbarr .nav-links.active {
    display: flex;
  }
}
